<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    <title>Album Reviews</title>
</head>
<body>
<div class="container">
    <main>
        <h1>Album Reviews</h1>
        <figure>
            <img src="/images/Musical Background.jpg" alt="" />
        </figure>
        <section>
            <button>
                <a th:href="@{/reviews}">View All Reviews</a>
            </button>
        </section>
    </main>
    <footer>
        <small>&copy; Razak Saka 2021</small>
    </footer>
</div>
</body>
</html>
